.historyCredit, .historyCreditSearch, .historyCreditAbono{
    background-color:#A3B4C3 !important;
    color:white !important;
}

.addbonusRuta, .addbonus, .viewDetail{
    background-color:green !important;
    color:white !important;
}
